.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #222;
  color: white;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}

main {
  text-align: left;
}

.submitText {
  font-size: 2rem;
  font-style: italic;
}

.cardWrapper {
  margin-bottom: 10px; 
}

.cardWrapper button {
  color: white;
  background-color: inherit;
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: block; 
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.cardModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.cardModal.open {
  display: block;
}

.error {
  color: red;
  font-size: 1rem;
}

.removeCardIcon {
  text-align: right;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}

.removeCardIcon:hover {
  cursor: pointer;
  color: gray;

}

.iconStyle {
  color: red;
  font-size: 2rem;
}