.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 4px;
  color: white;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #0E1111;
  color: white;
  margin-bottom: 8px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 16px;
}

.itemName,
.city,
.price,
.total {
  flex: 1;
  margin-right: 2.5px;
  margin-bottom: 0;
}
