.populated-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.property {
  margin-bottom: 10px;
}

.property-label {
  font-weight: bold;
}

.property-value {
  margin-left: 10px;
}

button {
  margin-top: 10px;
  background-color: inherit;
  color: white;
}

.close-button {
  cursor: pointer;
}
