.populated-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: inherit;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.property {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.property-label {
  font-weight: bold;
  margin-right: 10px;
}

.property-value {
  flex-grow: 1;
}

.populated-card button {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
