:root {
    --sidebar-width: 3rem;
    --font-size-base: 1rem;
  }
  .sidebar {
    width: 50px;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    transform: translateX(0);
  }
  
  .formOpen .sidebar {
    transform: translateX(-30%); 
  }
  
  
  .sidebarClosed {
    transform: translateX(-100%);
  }
  
  .plusIcon {
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    transition: 0.5s ease;
  }

  .plusIcon:hover {
    cursor: pointer;
    color: gray;
    transition: 0.5s ease;
  }
  
  .letterV {
    position: absolute;
    bottom: 20px; 
    color: red;
    font-size: 2rem;
    font-weight: bold;
  }